.eventModal {
    position: fixed;
    z-index: 999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: Black;
    filter: alpha(opacity=60);
    opacity: 0.6;
    -moz-opacity: 0.8;
}

.eventMsg {
    color: black;
    font-weight: bold;
    font-size: large;
}

.eventCentre {
    z-index: 1000;
    margin: 300px auto;
    padding: 10px;
    width: 20%;
    background-color: White;
    border-radius: 10px;
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-opacity: 1;
}

.eventCentre img {
    height: 200px;
    width: 200px;
}

.Entry4TH {
    text-align: left;
}

.tableTHClub {
    width: 400px;
}

.optionIcon {
    width: 40px;
    height: 35px;
}

.fm-form-container.fm-theme0 .fm-form
.wdform_button button {
    background: #0f7abb !important;
    border: 2px solid #1c4380 !important;
}

.wdform_button button {
    background: #0f7abb !important;
    border: 2px solid #1c4380 !important;
    color: white;
}

.subscriptionEmail {
    font-size: x-large;
    padding-bottom: 10px;
}

.ui-menu {
    width: 50px;
}

.ui-menu .ui-menu {
    width: 170px;
    border: 1px solid blue !important;
    background-color: white !important;
}

.deletedOrder {
    text-decoration: line-through;
}

.orderComp {
    color: blue;
    font-size: 16px;
}

.tableTHDate {
    width: 130px;
}