@media screen and (max-width: 500px) {
    div#login {
        width: 100% !important;
        padding-top: 36%
    }
}

@media screen and (min-width: 501px) and (max-width: 850px) {
    div#login {
        width: 80% !important;
        padding-top: 26%;
    }
}

@media screen and (min-width: 851px) and (max-width: 1024px) {
    div#login {
        width: 50% !important;
        padding-top: 16%;
    }
}