/* Global settings */
* {
    font-family: Arial, Helvetica, sans-serif
}

@media screen and (max-width: 600px) {
    .z3-medium, .z3-medium H1 {
        font-size: 14px;
    }

    .z3-small, .z3-small H1 {
        font-size: 12px;
    }

    td.phase, th.phase, td.heats, th.heats, td.info, th.info {
        display: none;
    }

    #z-hide {
        display: none;
    }
}

.z3-text-scale h1 {
    font-size: calc(16px + 1.2vw);
    font-weight: 500;
}

.z3-medium, .z3-medium h1 {
    font-size: 16px;
}

.z3-margin-top {
    margin-top: 36px;
}

.z3-hide, .z3-hide h1 {
    font-size: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.z3-toplinks a {
    margin-right: 20px;
}

td.results {
    display: table-cell;
}

th.heats, td.heats {
    display: table-cell;
}

td.eventname {
    display: table-cell;
}

th.pos, td.pos {
    display: none;
}

td.id, th.id {
    padding-left: 16px;
}

th.attempt1, td.attempt1, th.attempt2, td.attempt2, th.attempt3, td.attempt3,
th.attempt4, td.attempt4, th.attempt5, td.attempt5, th.attempt6, td.attempt6 {
    display: none;
}

td.vertheight {
    display: none;
}

td.phase, th.phase {
    display: none;
}

td.id, th.id {
    padding-left: 16px;
}

td.gender, th.gender {
    display: none;
}

td.time, th.time {
    display: none;
}

td.cat, th.cat {
    display: none;
}

td.pb, th.pb {
    display: none;
}

th.TFCameraicon {
    display: none;
}

/* Define link colors */
a:link {
    color: #cc0000;
    text-decoration: none;
}

a:visited {
    color: #cc0000;
    text-decoration: none;
}

a:hover {
    color: #cc0000;
    text-decoration: none;
}

/* Match color for Windspeed and CBP */
#WS, #z-hide, #CBP {
    color: #cc0000;
}