<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Live Results</title>
    <link href="{{GRAPHICS_DIR}}/icon.png" rel="icon" type="image/gif"/>
    <link href="{{CSS_DIR}}/w3.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
    <link href="https://www.w3schools.com/lib/w3-theme-indigo.css" rel="stylesheet">
    <link href="{{CSS_DIR}}/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script>
    <script src="{{JS_DIR}}/settings.js" type="text/javascript"></script>
    <script src="{{JS_DIR}}/liveresults.js" type="text/javascript"></script>
    <script src="{{JS_DIR}}/swipe.js" type="text/javascript"></script>
</head>

<body onload="LoadRace();">

<div class="w3-top">
    <div class="w3-bar w3-black w3-small w3-theme" id="headerbar">
			<span class="w3-mobile">
				<div class="w3-dropdown-hover">
					<button class="w3-button fa fa-bars w3-padding-large w3-theme"></button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4" id="dropdownmenu"></div>
					<div class="w3-clear"></div>
				</div>
			</span>
        <span class="w3-bar-item">Entry4Sports Live Results for {{MEET_TITLE}}</span>
    </div>
</div>

<div class="w3-display-container z3-margin-top" style="min-height: 85px;">
    <img src="{{GRAPHICS_DIR}}/headerimage.gif" style="width:100%">
    <div class="w3-display-left w3-container w3-text-dark-grey z3-text-scale z3-hide" id="headertitle">
        <h1>{{MEET_TITLE}}</h1>
        <h4>{{HEAT_TITLE}}</h4>
    </div>
</div>

<div class="z3-hide" id="racetitle">
    <div class="w3-container w3-padding z3-medium w3-text-theme" id="racetitleshort" style="font-weight:bold"></div>
</div>


<div class="z3-hide" id="toplinks">
    <A CLASS='previous' HREF="{{PREV_FILENAME}}">&lt;&lt;&nbsp;Previous Heat</A>
    <A CLASS='photofinish' HREF="{{IMAGE_FILENAME}}" TARGET="_blank">Photo finish picture</A>
    <A CLASS='next' HREF="{{NEXT_FILENAME}}">Next Heat &gt;&gt;</A>
</div>

<div class="w3-bar w3-white">
    <a class="w3-bar-item w3-button w3-hover-theme" href="schedule.html" style="padding-right: 25px; text-align:left"
       title="Go to event schedule"><i class="fa fa-list-alt w3-text-dark-grey w3-large"></i><b id="z-hide">
        Schedule</b></a>
    <a class="w3-bar-item w3-button w3-hover-theme" href="#" id="previousheat"
       style="padding-right: 25px; text-align:left" title="Go to previous heat"><i
            class="fa fa-arrow-left w3-text-dark-grey w3-large"></i><b id="z-hide"> Previous Heat</b></a>
    <a class="w3-bar-item w3-button w3-hover-theme" href="#" id="nextheat" style="padding-right: 25px; text-align:left"
       title="Go to next heat"><i class="fa fa-arrow-right w3-text-dark-grey w3-large"></i><b id="z-hide"> Next Heat</b></a>
    <a class="w3-bar-item w3-button w3-hover-theme" href="#" id="pfURL" onclick="showPFImage(); return false;"
       style="padding-right: 25px; text-align:left" title="Display photo finish image"><i
            class="fa fa-camera w3-text-dark-grey w3-large"></i><b id="z-hide"> Image</b></a>
    <span class="w3-bar-item" id="WS" style="text-align:left; font-weight:bold"></span>
</div>

<table class="w3-table w3-bordered w3-striped z3-small">
    <thead>
    <tr class="w3-light-grey">
        <th class="col1" id="col1"></th>
        <th class="col2" id="col2"></th>
        <th class="col3" id="col3"></th>
        <th class="col4" id="col4"></th>
        <th class="col5" id="col5"></th>
        <th class="col6" id="col6"></th>
        <th class="col7" id="col7"></th>
        <th class="col8" id="col8"></th>
    </tr>
    </thead>
    <tbody>
    {{RESULT}}
    </tbody>
</table>

<div class="w3-bar w3-black w3-small w3-theme" id="footerbar">
</div>

<div class="w3-container w3-center w3-border">
    <img src="{{GRAPHICS_DIR}}/footerimage.gif" style="max-width:1200px; width:100%">
</div>
<div e4s_title="{{HEAT_TITLE}}" id="image_dialog" style="display:none;">
    <img height="768" id="pfImage" src="{{IMAGE_FILENAME}}" width="1024">
</div>
</body>
</html>
