<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Entry4Sports Results</title>
    <link href="{{GRAPHICS_DIR}}/icon.png" rel="icon" type="image/gif"/>
    <link href="{{CSS_DIR}}/w3.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://www.w3schools.com/lib/w3-theme-indigo.css" rel="stylesheet">
    <link href="{{CSS_DIR}}/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
    <script src="{{JS_DIR}}/liveresults.js" type="text/javascript"></script>
    <script src="{{JS_DIR}}/settings.js" type="text/javascript"></script>
</head>

<body onload="LoadSchedule();">

<div class="w3-top">
    <div class="w3-bar w3-black w3-small w3-theme" id="headerbar">
			<span class="w3-mobile">
				<div class="w3-dropdown-hover">
					<button class="w3-button fa fa-bars w3-padding-large w3-theme"></button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4" id="dropdownmenu"></div>
					<div class="w3-clear"></div>
				</div>
			</span>
        <span class="w3-bar-item">Entry4Sports Results for {{MEET_TITLE}}</span>
    </div>
</div>
<div class="w3-display-container z3-margin-top" style="min-height: 110px;">
    <img src="{{GRAPHICS_DIR}}/headerimage.gif" style="width:100%">
    <!--    <img src="/resources/nuneaton.jpg" style="width:100%">-->
    <div class="w3-display-left w3-container w3-text-dark-grey z3-text-scale z3-hide" id="headertitle"
         style="width:75%">
        <h1 style="padding-top:20px;">{{TITLE}}</h1>
        <b><h2>Schedule for {{MEET_DATE}}</h2></b>
    </div>
</div>

<div class="z3-hide" id="toplinks">
    <div id="links" style='display:hidden'>
        <A HREF="#Day1"></A>
        <A NAME=Day1></A>
    </div>
</div>

<table class="w3-table w3-bordered w3-striped w3-hoverable z3-small">
    <thead>
    <tr class="w3-light-grey">
        <th class="plannedtime">Time</th>
        <th class="eventname">Event Name</th>
        <th class="phase">Phase</th>
        <th class="cat">Cat</th>
        <th class="gender">M/W</th>
        <th class="participants">Entries</th>
        <th class="heats">Heats</th>
        <th class="status">Status</th>
        <th class="time">Time</th>
    </tr>
    </thead>
    <tbody>
    {{SCHEDULE}}
    </tbody>
</table>

<div id="dayanchor"></div>

<div class="w3-bar w3-black w3-small w3-theme" id="footerbar">
</div>

<div class="w3-container w3-center w3-border">
    <img src="{{GRAPHICS_DIR}}/footerimage.gif" style="max-width:1200px; width:100%">
</div>

</body>
</html>