.e4sTable {
    border-spacing: unset;
}
.card_table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8vw;
}
#cardHeaderDiv {
    padding: 5px;
    background-color: lightgrey;
}
.card_header {
    background-color: lightgrey;
    line-height: 2.5vh;
    font-size: 1.2vw;
}
.card_header_label {
    font-size: 0.8vw;
}
.card_header_e4s {
    font-weight: 900;
}
.card_header_data {
    font-weight: 700;
    font-size: 1vw;
}
.card_header_gap {
    line-height: 2px;
    background-color: white;
}
.entriesCount {
    font-size: 0.8vw;
    padding-left: 10px;
    font-weight: 700;
    color: var(--e4s-navigation-bar--ia-primary__background);
}
div button {
    color: var(--e4s-navigation-bar--ia-primary__background) !important;
}
.updateRankLink {
    display: none;
}
.updateLink {
    float: right;
    font-size: 0.8vw;
    font-weight: 700;
    padding-right: 20px;
}
