.fullInfoTable {
    margin: 0px;
    width: 85%;
}

.fullInfoTableTitle {
    border-bottom: 2px solid rgba(210, 214, 42, .5);
}

.fullInfoTableData {
    border-bottom: 5px solid rgba(163, 159, 173, .5);
}

.fullInfoTitleRow {

}

.fullInfo {
    font-size: 12px;
}

.fullInfoData {
    color: blue;
    width: 150px;
    padding-right: 10px;
}

.fullInfoLabel {
    text-align: left;
    width: 100px;
}

.fullTitle {
    font-size: medium;
}

.fullInfoAgeRow {
    text-align: center;
}

.fullData {

}

.fullInfoGenderRow {
    text-align: center;
}

.fullInfoGender {
    width: 65px;
}

.fullInfoTick {
    color: blue;
}

.fullInfoAgeLabel {
    width: 50px;
}